/*
.detail-text {
	position: absolute;  Position the text absolutely within the slide 
	top: 0;  Align the text to the top of the slide 
	right: 0; /* Align the text to the right of the slide 
	margin: 10px; /* Add some margin for spacing 
	color: white; /* Make the text white for visibility 
	background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black background for visibility 
	padding: 5px; Add some padding for spacing 
}
*/

/* PreLoader */
#preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* HTML: <div class="loader"></div> */
.loader {
	width: 50px;
	aspect-ratio: 1;
	display: grid;
}
.loader::before,
.loader::after {
	content: '';
	grid-area: 1/1;
	--c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
	background:
		var(--c) 50% 0,
		var(--c) 50% 100%,
		var(--c) 100% 50%,
		var(--c) 0 50%;
	background-size: 12px 12px;
	animation: l12 1s infinite;
}
.loader::before {
	margin: 4px;
	filter: hue-rotate(45deg);
	background-size: 8px 8px;
	animation-timing-function: linear;
}

@keyframes l12 {
	100% {
		transform: rotate(0.5turn);
	}
}
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
/* Add this to your CSS */
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	margin: 20px 0; /* Adjust as needed */
}

article {
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

article img {
	width: 50%; /* Adjust as needed */
	height: auto; /* Adjust as needed */
}
#principles {
	padding-top: 0;
}
@media (min-width: 1200px) {
	footer,
	header,
	main > section {
		--block-spacing-vertical: 7rem;
		--demo-height: calc(10.5rem + 540px);
	}
}
hgroup {
	margin-top: 60px; /* Adjust this value to your liking */
	margin-bottom: 80px; /* Adjust this value to your liking */
	text-align: center;
}
/* Add a top border to the grid */
.grid {
	/*border-top: 1px solid hsl(0, 0%, 45%);  Adjust this value to your liking */
	margin-top: 100px;
}
.grid div {
	text-align: center;
}
.grid img {
	margin-bottom: 40px;
}
/* Style for the contact section */
#contact {
	margin-top: 60px;
	text-align: center; /* Centers the text */
}

/* Style for the input field */
#contact input {
	display: block; /* Makes the input block level so it can be centered */
	margin: 0 auto; /* Adds some space around the input and centers it */
	width: 50%; /* Makes the input take up 50% of the width of its parent */
	max-width: 500px; /* Limits the maximum width of the input */
}

/* Style for the button */
#contact button {
	display: flex; /* Makes the button use flexbox layout */
	align-items: center; /* Centers the SVG vertically */
	justify-content: center; /* Centers the SVG horizontally */
	margin: 0 auto; /* Centers the button */
	margin-top: 20px; /* Adds some space above the button */
	display: block; /* Makes the button block level so it can be centered */
}

/*FOOTER*/
/* Style for the footer */
footer {
	margin-top: auto;
	background-color: #333;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

.footer-content h3 {
	margin-bottom: 15px;
}

.footer-content p {
	margin-bottom: 15px;
}

.socials {
	list-style: none;
	padding: 0;
}

.socials li {
	display: inline-block;
	margin: 0 10px;
}

.socials a {
	color: #fff;
	text-decoration: none;
}

/* NAV */
.menu-container {
	position: fixed;
	display: flex;
	align-items: center;
	margin-bottom: 0;
	background: rgba(35, 35, 35, 0.9);
	color: #cdcdcd;
	padding: 20px;
	z-index: 1000;
	-webkit-user-select: none;
	user-select: none;
	box-sizing: border-box;
}
.nav-button {
	background-color: #00c6a7; /* change to your preferred color */
	color: #232323; /* change to your preferred color */
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.nav-button:hover {
	background-color: #008d76; /* change to your preferred color */
}

.menu-logo {
	line-height: 0;
	margin: 0 20px;
}

.menu-logo img {
	max-height: 40px;
	max-width: 100px;
	flex-shrink: 0;
}

.menu-container a {
	text-decoration: none;
	color: #232323;
	transition: color 0.3s ease;
}

.menu-container a:hover {
	color: #00c6a7;
}

.menu-container input {
	display: block;
	width: 35px;
	height: 25px;
	margin: 0;
	position: absolute;
	cursor: pointer;
	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */
	-webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #cdcdcd;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition:
		transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
		background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
		opacity 0.55s ease;
}

.menu-container span:first-child {
	transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
	transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(3px, -1px);
	background: #232323;
}

.menu-container input:checked ~ span:nth-child(4) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
	transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
	list-style: none;
}

.menu li {
	padding: 10px 0;
	font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 767px) {
	.menu-container {
		flex-direction: column;
		align-items: flex-end;
	}
	.menu a {
		color: #cdcdcd; /* change to a contrasting color */
	}

	.menu-logo {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	.menu-logo img {
		max-height: 30px;
	}

	.menu {
		position: absolute;
		box-sizing: border-box;
		width: 300px;
		right: -300px;
		top: 0;
		margin: -20px;
		padding: 75px 50px 50px;
		background: rgba(35, 35, 35, 0.9);
		-webkit-font-smoothing: antialiased;
		/* to stop flickering of text in safari */
		transform-origin: 0% 0%;
		transform: translateX(0%);
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
	}

	.menu-container input:checked ~ .menu {
		transform: translateX(-100%);
	}
}

/* desktop styles */
@media only screen and (min-width: 768px) {
	.menu-container {
		width: 100%;
	}

	.menu-container a {
		color: #cdcdcd;
	}

	.menu-container input {
		display: none;
	}

	/* Burger menu */
	.menu-container span {
		display: none;
	}

	.menu {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.menu ul {
		display: flex;
		padding: 0;
	}

	.menu li {
		padding: 0 20px;
	}
}

/* Page */
.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content-wrap {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
}

/* SAVER */
.saving-container {
	position: absolute; /* Position the loader absolutely inside the button */
	top: 0; /* Cover the entire parent element */
	left: 0; /* Cover the entire parent element */
	width: 100%; /* Cover the entire parent element */
	height: 100%; /* Cover the entire parent element */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
	backdrop-filter: blur(5px); /* Blur the content behind the loader */
}
/* HTML: <div class="loader"></div> */
.savingloader {
	width: 50px;
	padding: 8px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: #25b09b;
	--_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
	-webkit-mask: var(--_m);
	mask: var(--_m);
	-webkit-mask-composite: source-out;
	mask-composite: subtract;
	animation: l3 1s infinite linear;
}
@keyframes l3 {
	to {
		transform: rotate(1turn);
	}
}

/* Modal */
.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	z-index: 1000;
}
