.splide__slide img {
    width: 100%;
     /* Let the images size their height automatically based on their width */
    max-height: 650px; /* Limit the height of the images to the height of the carousel */
    object-fit: cover; 
  }
  .gallery--main {
    height: 700px; /* Set a fixed height for the carousel container */
  }
  .gallery--thumbs .splide__slide {
    border-radius: 10px;
  }
  
  .gallery--thumbs .splide__slide img {
    border-radius: 7px;
  }
  
  .gallery--thumbs
    .splide__track--nav
    > .splide__list
    > .splide__slide.is-active {
    border-color: #eee;
  }
  .image-label {
    position: absolute;
    bottom: 20px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    color: white;
    padding: 5px;
  }
  .image-title, .image-description {
    display: block;
  }
  .image-description {
    font-size: 0.8em; /* Smaller font size for the description */
  }
  .image-label-container {
    position: absolute;
    bottom: 20px; /* Adjust this value to move the label up or down */
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    color: white;
    padding: 5px;
  }